body{
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.ome.lt/6THXsX6dV57NKa7nVyQuinw3xB8=/1200x630/smart/extras/conteudos/minecraft-tela-titulo.jpg);
    background-size: cover;
}