/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Red+Hat+Display:wght@800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Red+Hat+Display:wght@800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,900;1,900&family=Quicksand:wght@400;700&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color:#8cbdfe;
    font-family: 'quicksand';
    scroll-behavior: smooth;
    
    
   

}


.header{
    background-color: rgba(0, 0, 0, 0.719);
    height:18vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
   
    

    
}

.logo{
    margin-left: 60px;
    background-repeat: no-repeat;
    width: 20%;
    height: 82%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img_minecraft{
    width:65%;
    height:100%;
    display: flex;
    transition: all 0.6s  cubic-bezier(0.165, 0.84, 0.44, 1);

}

.img_minecraft:after{
    content: '';
    position: absolute;
    transition: all 0.6s  cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;


}

.img_minecraft:hover{
    transform: scale(1.20,1.20);
    transition: all 0.3s;
}

.navbar{
    font-family:'quicksand';
    font-weight: 700;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
 
}

a{
    text-decoration: none;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
}

.navbar a:after{
    content: '';
    position: absolute;
    transition: all 0.6s  cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;


}

.navbar a:hover{
    transform: scale(1.20,1.20);
    color: #4CAF50;
    transition: all 0.3s;


}

.botao_entrar{
    width: 150px;
    height: 60px;
    margin-right:20px ;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 12px 0;
    font-size: 25px;
    font-family: 'quicksand';
    font-weight: 700;
    color:white;
    text-decoration: none;
    cursor: pointer;
    border: 5px solid #070711;
    transition: .5s;
    box-shadow:  0 8px 32px 0 rgba(0, 0, 0, 0.767) ;

}

.botao_entrar:hover{
    background: blueviolet url(img/pixel.png);
    background-size: 100%;
    transition-delay: .8s;
    animation: animate1 .8s steps(8) forwards;
    
}



@keyframes animate1{
    0%{
        background-position-y: 0 ;
    }

    100%{
        background-position-y: -250px ;
    }
}

.botao_entrar:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.6s  cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;


}

.botao_entrar:hover{
    transform: scale(1.10,1.10);
    transition: 0.3s;


}


.banner{
   
    width: 100%;
    height:82vh;
    margin-top: 150px;
}


.div_ceu{
   margin-top: -32px;
    width: 100%;
    height:27%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.img_sol{
width:12% ;
height:100% ;
}

.img_nuvem1{
    width: 40%;
    height: 100%;
    transform: scaleX(-1);
   


}

.img_nuvem2{
    width: 40%;
    height: 100%;
    

}

.div_terra{
    width:100%;
    height:73%;
    display: flex;
    flex-direction: row;
}

.div_terra_esquerda{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    

}

.div_terra_centro{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.div_terra_direita{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.img_arvore{
    margin-top: 120px;
    width: 70%;
    height: 80%;

}

.titulo_inicial{
    font-size: 30px;
    font-family:'Noto Sans';
    font-weight:900;
    text-align: center;
    margin-top:30px ;
    text-transform: uppercase;
    


}

.gif_steve{
    margin-top: 30px;
    width: 50%;
    height: 57%;

}


.slider{
    margin: 30px auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    box-shadow:  0 8px 32px 0 rgba(0, 0, 0, 0.767) ;
 
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;

}


.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border:2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;


}

.manual-btn:not(:last-child){
    margin-right:40px ;



}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;

}
#radio2:checked ~ .first{
    margin-left: -25%;

}
#radio3:checked ~ .first{
    margin-left: -50%;

}
#radio4:checked ~ .first{
    margin-left: -75%;

}

.navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;

}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;

}


#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;

}


#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;

}



.o_que_e{
    background-image: url(https://i.pinimg.com/564x/34/28/c0/3428c0e3b6ee4df8038373583c0f1459.jpg);
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}


.div_titulo{
    background-color: white;
    border-radius: 20px;
    width:30%;
    height:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.767);
    color: black;
    font-size: 30px ;
    font-family: 'Noto Sans';
    font-weight: 900;
    border: solid 3px rgba(28, 30, 48, 0.973);
    

    
}

.conteudo{
    width: 100%;
    height:500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;


}

.div_texto{

    width:750px;
    height:400px;
    background-color: rgba(255, 255, 255, 0.808);
    border: solid 5px black;
    padding: 10px;
    font-size: 20px;
    font-family: 'Noto Sans';
    font-weight: 400;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.767);
    
    
    


}

.imgs{

    width:400px;
    height:100%;
    display: flex;
    flex-direction: column;
    
}


.imgcreeper{
    width: 400px;
    height: 400px;
    border: solid 5px rgba(28, 30, 48, 0.973);
    display: flex;
    transition: all 0.6s  cubic-bezier(0.165, 0.84, 0.44, 1);

    
}

.imgcreeper:after{
    content: '';
    position: absolute;
    z-index: -1;


}

.imgcreeper:hover{
    transform: scale(1.10,1.10);
    transition: ease-out 0.3s;
   

    
}

.imgamigos{

    width: 400px;
    height: 200px;
    border: solid 5px rgba(28, 30, 48, 0.973);
    margin-top: 15px;


}


.sobre{
    background-image: url(https://i.pinimg.com/originals/e9/90/4c/e9904cdb30314092a60f1ec18711bbbf.jpg);
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
}








.curiosidades{
    background-image: url(https://i.gifer.com/13wM.gif);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    
}




.div_curiosidades{
    position: relative;
    width:320px;
    height:400px;
    background-color: rgba(255, 255, 255, 0.808);
    border: solid 5px black;
    font-size: 20px;
  
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.767);
    transition: all 0.6s  cubic-bezier(0.165, 0.84, 0.44, 1);

}

.div_curiosidades:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.6s  cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;


}

.div_curiosidades:hover{
    transform: scale(1.10,1.10);


}

.div_imgcuriosidade{
    width:100%;
    height:40%;
    background-color: whitesmoke;
    
}

.imgcuriosidade{
    width:100%;
    height: 100%;
    background-size: cover;
    

}

.div_textocuriosidade{
    width:100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.titulo_curiosidade{
    
    font-weight: 700;
    margin-top: 10px;
    text-align: center;

}

.texto_curiosidade{
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    
}



.construcoes{
    background-image: url(img/cropped-1366-768-615964.png);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
}







.footer{
    width:100vw;
    height:30vh;
    background-image: url(https://static.planetminecraft.com/files/image/minecraft/texture-pack/2022/441/15348266-pack_m.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.conteudo_footer{
    background-color: rgba(255, 255, 255, 0.678);
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
}


