@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Red+Hat+Display:wght@800&display=swap');

body{
    margin: 0;
    padding: 0;

}


.div_tela{

    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(img/377757.jpg);
    transition: 0.6s;
    display: flex;
    flex-direction: row;


}


.menu{
    width:27vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    
}

.conteudo{

    width: 73vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div_lenda{
    background-color: rgba(240, 248, 255, 0.795);
    width: 90%;
    height: 90%;
}





