@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,900;1,900&family=Quicksand:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'quicksand';

}


.div_tela {

    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(img/fundo_jogo.jpg);
    transition: 0.6s;
    display: flex;
    flex-direction: row;


}


.menu {
    width: 27vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    display: flex;
    flex-direction: column;
    color: white;


}


.menu_cima {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    font-weight: 700;

}

.menu_baixo {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.botao_menu{
    width: 200px;
    height: 70px;
    padding: 10px;
    font-family: 'quicksand';
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
    
}

.conteudo {

    width: 73vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#div_lenda {
    background-color: white;
    width: 95%;
    height: 95%;
    display: none;
}

.titulo_herobrine {
    width: 100%;
    height: 15%;
    background-color: gainsboro;
    font-size: 35px;
    font-family: 'Noto Sans';
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;

}

.subtitulo_herobrine{
    height: 10%;
    width: 100%;
    font-size: 20px;
}





#div_quiz {
    background-color: rgb(212, 205, 205);
    width: 95%;
    height: 95%;
    display: none;

}

.div_jogar{
    width: 100%;
    height: 75%;
    display:flex;
    justify-content: center;
    align-items: center;
}


.botao_jogar{
    width: 300px;
    height: 120px;
    font-family: 'quicksand';
    font-weight: 700;
    font-size: 60px;
    cursor: pointer;
}

.div_perguntas {

    background-color: white;
    width: 95%;
    height: 95%;
    display: none;




}

#pergunta1 {}

#pergunta2 {}

#pergunta3 {}

#pergunta4 {}

#pergunta5 {}

#pergunta6 {}

#pergunta7 {}

#pergunta8 {}

#pergunta9 {}

#pergunta10 {}

#resultado_quiz {

    background-color: wheat;
    width: 95%;
    height: 95%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items:center ;



}


#div_qtd_acertos {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'quicksand';
    font-weight: 700;
    font-size: 25px;

}

#div_graficos {
    margin-top:10%;
    width: 70%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content:center;

}





#div_recomecar {

    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.titulo_pergunta {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'quicksand';
    font-weight: 700;
    font-size: 25px;
    text-align: center;


}

.img_espada_diamante {
    height: 63%;
    width: 10%;
}


.img_arco {
    height: 65%;
    width: 12%;

}

.img_escudo {
    height: 100%;
    width: 10%;
}





.div_alternativas {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;



}

.imgs_alternativas {
    width: 15%;
    height: 40%;
    cursor: pointer;
    border: solid gray 2px;
    padding: 5px;

}

.botao_alternativa{
    width:150px;
    height: 161px;
    text-align: center;
    font-family: 'quicksand';
    font-size: 25px;
    cursor: pointer;
}


.botao_alternativa_maior{

    width: 178px;
    height: 280px;
    text-align: center;
    font-family: 'quicksand';
    font-size: 25px;
    padding: 10px;


}


