@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,900;1,900&family=Quicksand:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'quicksand';

}


.div_tela {

    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(img/fundo_jogo.jpg);
    transition: 0.6s;
    display: flex;
    flex-direction: row;


}


.menu {
    width: 27vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    display: flex;
    flex-direction: column;
    color: white;


}


.menu_cima {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Noto Sans';

}

.span_bem_vindo{
    text-align: center;
}

#span_nome_usuario{
    color:rgb(28, 197, 28)
}

.menu_baixo {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#botao_carregamento{
    display: none;
}


.botao_menu{
    width: 160px;
    height: 70px;
    padding: 10px;
    font-family: 'quicksand';
    font-weight: 700;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 15px;
    margin-top: 30px;
    cursor: pointer;
    background-color:white;
    color:darkblue;
    transition: 0.3s;

    
}

.botao_menu:hover{
    transform: scale(1.20);
    color: dodgerblue;

}



.botao_sair{
    width:120px;
    height: 50px;
    border-radius: 10px;
    margin-top:30px;
    font-family: 'quicksand';
    font-weight: 700;
    font-size:20px;
    background-color:lightcyan;
    cursor: pointer;
    border: 2px white solid;
    transition: 0.3s;


}

.botao_sair:hover{
    transform: scale(1.20);

}

.conteudo {

    width: 73vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#div_lenda {
    background-color: rgba(0, 0, 0, 0.87);
    width: 95%;
    height: 95%;
    display: none;
    border: 3px solid white;
    flex-direction: column;
}

.titulo_herobrine {
    width: 100%;
    height: 15%;
    font-size: 35px;
    color: white;
    font-family: 'Noto Sans';
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;

}

.subtitulo_herobrine{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    font-weight: 700;
}


.conteudo_hero{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
}

.conteudo_herobrine{
    height: 100%;
    width: 45%;
    color: white;
    text-align:justify;
    font-size: 16px;


}

.imagens_herobrine{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;


}


.imagens_lenda{
    border: 2px solid black;
    width: 350px;
    height: 190px;
    margin-top: 15px;
}

#div_ranking{
    background-color:lightcyan;
    width: 95%;
    height: 95%;
    display: none;
    flex-direction: column;
    border: 2px solid black;
    

}


.titulo_ranking{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content:center ;
    align-items: center;

}

.tabela_ranking{
    width:100%;
    height: 85%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;


}

table, th, td {
    border: 3px solid green;
}


table{
    width: 70%;
    height: 70%;
    
}

th{
    color:black;
    font-size: 25px;
    font-family: 'Noto Sans';
    font-weight: 700;
    background-color: darkturquoise;
    text-align: center;
   
}

td{
    color:blue;
    text-align: center;
    font-size: 20px;
    font-family: 'Noto Sans' ;
    font-weight: 400;
    background-color: white;

}



#div_quiz {
    background-color: rgb(201, 188, 188);
    width: 95%;
    height: 95%;
    display: none;
    border: 2px white solid;

}



.titulo_quiz {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'quicksand';
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    border-bottom: turquoise 1px solid;
    


}

.div_jogar{
    width: 100%;
    height: 70%;
    display:flex;
    justify-content: center;
    align-items: center;
}


.botao_jogar{
    width: 230px;
    height: 100px;
    font-family: 'quicksand';
    font-weight: 700;
    font-size: 50px;
    cursor: pointer;
    background-color: white ;
    border-radius: 20px;
    color:darkblue;
    transition: 0.5s;
}


.botao_jogar:hover{
    transform: scale(1.25);
    color: dodgerblue;


}

.span_errada{
    margin-left: 6px;
}

.div_perguntas {

    background-color: whitesmoke;
    width: 95%;
    height: 95%;
    display: none;
    border: solid 2px black


}

#pergunta1 {}

#pergunta2 {}

#pergunta3 {}

#pergunta4 {}

#pergunta5 {}

#pergunta6 {}

#pergunta7 {}

#pergunta8 {}

#pergunta9 {}

#pergunta10 {}

#resultado_quiz {

    background-color:ghostwhite;
    width: 95%;
    height: 95%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    border: 2px solid palegreen;



}


#div_qtd_acertos {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'quicksand';
    font-weight: 700;
    font-size: 30px;
    background-color: aliceblue;
    

}

#div_graficos {
    margin-top:10%;
    width: 70%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content:center;
    

}





#div_recomecar {

    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Noto Sans';
    font-weight: 700;
    color: green;
    

   


}


.titulo_pergunta {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'quicksand';
    font-weight: 700;
    font-size: 25px;
    text-align: center;


}

.img_espada_diamante {
    height: 63%;
    width: 10%;
}


.img_arco {
    height: 65%;
    width: 12%;

}

.img_escudo {
    height: 100%;
    width: 10%;
}





.div_alternativas {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;



}

.imgs_alternativas {
    width: 15%;
    height: 40%;
    cursor: pointer;
    border: solid gray 2px;
    padding: 5px;
    transition: 0.4s;

}


.imgs_alternativas:hover{
    transform: scale(1.15);
    background-color: gainsboro;

}

.botao_alternativa{
    width:150px;
    height: 161px;
    text-align: center;
    font-family: 'quicksand';
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s;
    background-color: white;
    color: green;
    border: 3px solid grey;

}

.botao_alternativa:hover{
    transform: scale(1.15);
    background-color: gainsboro;

}


.botao_alternativa_maior{

    width: 178px;
    height: 280px;
    text-align: center;
    font-family: 'quicksand';
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    color: green;
    background-color: white;
    transition: 0.4s;
    border: 3px solid grey;


}

.botao_alternativa_maior:hover{
    transform: scale(1.05);
    background-color: gainsboro;

}


