@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,900;1,900&family=Quicksand:wght@400;700&display=swap');

body{
    background-image: url(img/NetherUpdateArtwork.webp);
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'quicksand';
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.header{
    background-color: black;
    height:18vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    


    

    
}

.logo{
    background-repeat: no-repeat;
    width: 20%;
    height: 82%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}



    


.img_minecraft{
    width:65%;
    height:100%;
    display: flex;
    transition: 0.6s;
}

.img_minecraft:after{
    content: '';
    position: absolute;
    transition: all 0.6s  cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;


}

.img_minecraft:hover{
    transform: scale(1.15,1.15);
    transition: all 0.3s;
}

.navbar{
    font-family:'quicksand';
    font-weight: 700;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    
    
 
}

a{
    text-decoration: none;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    transition: 0.6s;
}

.navbar a:after{
    content: '';
    position: absolute;
    transition: all 0.6s  cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;


}

.navbar a:hover{
    transform: scale(1.20,1.20);
    color: #40db45;
    transition: all 0.3s;


}



.div_card{
    margin-top: 120px;
    background-color: rgba(255, 255, 255, 0.808);
    width: 550px;
    height: 500px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.767);
    border: white solid 2px;


    
}

.div_titulo{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Noto Sans';
}

.formulario{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    align-items: center;
    


}

.span_tipo{
    font-size: 20px;
    margin-top: 15px;
    margin-left: -460px;
    font-family: 'Noto Sans';

}

#input_email{
    width: 500px;  
    height: 20px;
    font-size: 22px;
    padding: 10px;
    border: 0;
    border-bottom: 2px solid #180230 ;
    background-color: transparent;
    margin-top: 10px;
    outline: none;
   


}

#input_senha{
    width: 500px;  
    height: 20px;
    font-size: 22px;
    padding: 10px;
    border: 0;
    border-bottom: 2px solid #180230 ;
    background-color: transparent;
    margin-top: 10px;
    outline: none;


}
#input_email::placeholder{
    color: rgba(0, 0, 0, 0.5);

}

#input_senha::placeholder{
    color: rgba(0, 0, 0, 0.5);
   
   

}
.validacao_errada{
    height: 25px;
    font-size: 15px;
    display: flex;
    justify-content: center;

    

}

.botao_iniciar{
    width: 170px;
    height: 60px;
    margin-right:20px ;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 12px 0;
    font-family: 'quicksand';
    font-size: 22px;
    font-weight: 700;
    color:white;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid #070711;
    transition: .5s;
    


    
}


.botao_iniciar:hover{
    background: blueviolet url(img/pixel.png);
    background-size: 100%;
    transition-delay: .8s;
    animation: animate1 .8s steps(8) forwards;
    
}



@keyframes animate1{
    0%{
        background-position-y: 0 ;
    }

    100%{
        background-position-y: -250px ;
    }
}

.botao_iniciar:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.6s  cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;


}

.botao_iniciar:hover{
    transform: scale(1.10,1.10);
    transition: 0.3s;


}


.div_baixo{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
}




.div_botao{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}





.span_cadastro{
    margin-top: 10px;
    font-size: 21px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;

}

.link_cadastrar{
    margin-left: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    transition: 0.3s;
    color: rgb(129, 15, 129);
    cursor: pointer;
}


.link_cadastrar:hover{
    color: #2ea131;


}






